<div [ngClass]="post.loveIts > 0 ? 'my-3 p-3 bg-white rounded shadow-sm border border-success' : 'my-3 p-3 bg-white rounded shadow-sm border border-danger' ">
  <div class="media text-muted pt-3">
    <p class="media-body pb-3 mb-0 small lh-125">
      <span class="d-block">
        <strong class="h3 text-left"> {{ post.title }} </strong>
      </span>
      {{ post.content }}
    </p>
    <span class="h6 text-right pt-1.2">{{ post.created_at }}</span>
    <div style="margin-top: 40px;">
      <button
        type="button"
        class="btn btn-primary"
        style="margin-right: 10px;" (click)="onLoveIt(1)">
        <i class="far fa-thumbs-up"></i>
      </button>
      <button ml-3 type="button" class="btn btn-danger" (click)="onDontLoveIt(2)">
        <i class="far fa-thumbs-down"></i>
      </button>
    </div>
  </div>
</div>
